@font-face {
  font-family: "iconfont"; /* Project id 3208010 */
  src: url('iconfont.woff2?t=1647064085545') format('woff2'),
       url('iconfont.woff?t=1647064085545') format('woff'),
       url('iconfont.ttf?t=1647064085545') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-suoxiao:before {
  content: "\ec13";
}

.icon-fangda:before {
  content: "\ec14";
}

.icon-rotate-left:before {
  content: "\eb04";
}

.icon-rotate-right:before {
  content: "\eb05";
}

.icon-yanjing:before {
  content: "\e661";
}

