#hang {
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2px 10px 0 rgb(31 35 41 / 10%);
  position: fixed;
  bottom: 70px;
  right: -100px;
  cursor: pointer;
  animation: hang-arrow-move 2s infinite;
}
#hang a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
}
.hang-arrow {
  width: 3px;
  height: 21px;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 3px;
  background-color: rgb(38, 38, 38);
  position: relative;
  transform: translate(19px, 11px);
}
.hang-arrow::before {
  content: "";
  width: 12px;
  height: 1px;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 3px;
  background-color: rgb(38, 38, 38);
  position: absolute;
  transform: rotate(45deg);
  top: 2.5px;
  left: -2.5px;
}
.hang-arrow::after {
  content: "";
  width: 12px;
  height: 1px;
  border: 1px solid rgb(38, 38, 38);
  border-radius: 3px;
  background-color: rgb(38, 38, 38);
  position: absolute;
  transform: rotate(-45deg);
  top: 2.5px;
  left: -10.5px;
}
@keyframes hang-arrow-move {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0);
  }
}
